<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row">
    <div class="col-8 offset-3 mb-3">
  <h3 class="mt-3">Listing Details</h3>
    </div>
    <div class="col-6 offset-3">
  <div class="card show-card">
    <img src="<%=listing.image%>" class="card-img-top show-img" alt="listing_image">
    <div class="card-body">
      <p class="card-text">
        <h5><b><%= listing.title %></b></h5><br>
        <%= listing.description %> <br>
        <b>Price:</b> $<%= listing.price.toLocaleString("en-CA") %> <br>
        <b>Location:</b> <%= listing.location %> <br>
        <b>Country:</b> <%= listing.country %>
      </p>
    </div>
  </div>
  <div class="btns">
  <a href="/listings/<%=listing._id%>/edit" class="btn">Edit Listing</a>
  <form method="POST" action="/listings/<%=listing._id%>?_method=DELETE"><button class="btn button">Delete Listing</button>
  </div></form>
  </div>
</div>
</body>